.author__urls.social-icons a,
.author__urls.social-icons a:visited,
.page__footer a,
.page__footer a:visited {
    color: #1b1b1b;
    font-weight: 700;
}

@media only screen and (min-width: 900px) {
    .sticky {
        top: 4em;
    }

    .masthead.sticky {
        top: 0;
    }

    h3.author__name {
        color: #000; // Set the author name color to black for consistency
    }

    .sidebar.sticky {
        background-color: white; // Change the background to white
        padding: 1em; // Keep some padding for spacing
        max-height: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        box-shadow: none; // Remove any shadows
        border: none; // Remove borders
    }
}