.masthead {
    background: linear-gradient(to right, #ffbf34, #ff9a41);
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #000053;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}