.masthead {
    background-color: #364672
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #fafafa;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}